# Colors
# 1   - LtRed
# 2   - Red
# 3   - DkRed
# 4   - LtOrange
# 5   - Orange
# 6   - DkOrange
# 7   - LtYellow
# 8   - Yellow
# 9   - DkYellow
# 10  - LtGreen
# 11  - Green
# 12  - DkGreen
# 13  - LtBlue
# 14  - Blue
# 15  - DkBlue
# 16  - LtViolet
# 17  - Violet
# 18  - DkViolet
# 19  - LtSepia
# 20  - Sepia
# 21  - DkSepia
# 22  - LtGrey
# 23  - Grey
# 24  - DkGrey
# 25  - LtMagenta
# 26  - Magenta
# 27  - DkMagenta
# 28  - LtCyan
# 29  - Cyan
# 30  - DkCyan
# 31  - Black
# 32  - White
#
# Use
# 1   - Heal
# 2   - Cast Lightning
# 3   - Potion
# 4   - Scroll
# 5   - Cast Fireball
# 6   - Cast Firebolt
# 7   - Equip
#
# Eqp
# 1   - Main Hand
# 2   - Off Hand
# 3   - Body
# 4   - Back
# 5   - L Ring
# 6   - R Ring
# 7   - Boots
# 8   - Ranged
# 9   - Ammo
#
####
# Potions
####
name:healing potion
sym:!
fg:1
bg:31
stk:1
qty:1
use:1,3
mlvl:1
wt:50
;
####
# Scrolls
####
name:scroll of lightning
sym:?
fg:7
stk:1
qty:1
use:4,2
mlvl:3
wt:20
;
name:scroll of fireball
sym:?
fg:7
stk:1
qty:1
use:4,5
mlvl:2
wt:20
;
name:scroll of firebolt
sym:?
fg:7
stk:1
qty:1
use:4,6
mlvl:1
wt:10
;
####
# Equipment
####
name:wooden shield
sym:]
fg:20
use:7
eqp:2
def:2
mlvl:2
wt:5
;
name:dagger
sym:)
fg:30
use:7
eqp:1
pow:2
mlvl:1
wt:5
;
name:traveler's cloak
sym:]
fg:20
use:7
eqp:4
mhp:5
def:1
mlvl:3
wt:5
;
name:hand axe
sym:)
fg:30
use:7
eqp:1
pow:4
mlvl:1
wt:5
;
