# Colors
# 1   - LtRed
# 2   - Red
# 3   - DkRed
# 4   - LtOrange
# 5   - Orange
# 6   - DkOrange
# 7   - LtYellow
# 8   - Yellow
# 9   - DkYellow
# 10  - LtGreen
# 11  - Green
# 12  - DkGreen
# 13  - LtBlue
# 14  - Blue
# 15  - DkBlue
# 16  - LtViolet
# 17  - Violet
# 18  - DkViolet
# 19  - LtSepia
# 20  - Sepia
# 21  - DkSepia
# 22  - LtGrey
# 23  - Grey
# 24  - DkGrey
# 25  - LtMagenta
# 26  - Magenta
# 27  - DkMagenta
# 28  - LtCyan
# 29  - Cyan
# 30  - DkCyan
# 31  - Black
# 32  - White
#
# Use
# 1   - Heal
# 2   - Cast Lightning
# 3   - Potion
# 4   - Scroll
# 5   - Cast Fireball
# 6   - Cast Firebolt
# 7   - Equip
name:healing potion
sym:!
fg:1
bg:31
stk:1
qty:1
use:1,3
;
