# '#' prefaces a comment line, and is ignored
# No whitespace between delimiters!
# An entry looks like:
#
# name:foo             # Name of the monster
# symbol:+             # Glyph symbol
# fg:31                # Glyph foreground color
# bg:5                 # Glyph background color
# speed:50             # Speed
# vision:1             # Field of view radius
# maxHP:1              # Maximum health
# defense:1            # Defense
# power:1              # Power
# xp:0                 # Experience gained on kill
# inventory:0          # False/True (0/1) - has inventory component
# level:0              # False/True (0/1) - has level component
# ai:1                 # AI None/Simple (0,1)
# items:               # Names of items to add to entity inventory (comma separated)
# minLevel:1           # Minimum depth monster is found 
# maxLevel:2           # Maximum depth monster is found
#
# A semicolon marks the end of an entry.
# Colors
# 1   - LtRed
# 2   - Red
# 3   - DkRed
# 4   - LtOrange
# 5   - Orange
# 6   - DkOrange
# 7   - LtYellow
# 8   - Yellow
# 9   - DkYellow
# 10  - LtGreen
# 11  - Green
# 12  - DkGreen
# 13  - LtBlue
# 14  - Blue
# 15  - DkBlue
# 16  - LtViolet
# 17  - Violet
# 18  - DkViolet
# 19  - LtSepia
# 20  - Sepia
# 21  - DkSepia
# 22  - LtGrey
# 23  - Grey
# 24  - DkGrey
# 25  - LtMagenta
# 26  - Magenta
# 27  - DkMagenta
# 28  - LtCyan
# 29  - Cyan
# 30  - DkCyan
# 31  - Black
# 32  - White
name:player
symbol:@
fg:31
bg:11 
speed:50
vision:5
maxHP:100
defense:1
power:2
xp:0
inventory:true
items:dagger,healing potion
level:true
;
name:skeleton
symbol:s
fg:22
bg:31
speed:25
vision:8
maxHP:20
defense:0
power:4
xp:35
ai:1
minL:1
wt:10
;
name:shambling corpse
symbol:Z
fg:2
bg:31
speed:25
vision:8
maxHP:30
defense:2
power:8
xp:100
ai:1
minL:2
wt:1
;
name:confused carcass
symbol:c
fg:14
bg:31
speed:25
vision:4
maxHP:20
defense:2
power:6
xp:75
ai:1
minL:1
wt:2
