# A semicolon marks the end of an entry.
# Colors
# 1   - LtRed
# 2   - Red
# 3   - DkRed
# 4   - LtOrange
# 5   - Orange
# 6   - DkOrange
# 7   - LtYellow
# 8   - Yellow
# 9   - DkYellow
# 10  - LtGreen
# 11  - Green
# 12  - DkGreen
# 13  - LtBlue
# 14  - Blue
# 15  - DkBlue
# 16  - LtViolet
# 17  - Violet
# 18  - DkViolet
# 19  - LtSepia
# 20  - Sepia
# 21  - DkSepia
# 22  - LtGrey
# 23  - Grey
# 24  - DkGrey
# 25  - LtMagenta
# 26  - Magenta
# 27  - DkMagenta
# 28  - LtCyan
# 29  - Cyan
# 30  - DkCyan
# 31  - Black
# 32  - White
name:player
sym:@
fg:31
bg:11 
spd:50
vis:5
mhp:100
def:1
pow:2
xp:0
inv:1
items:dagger,scroll of firebolt,healing potion,healing potion
lvl:1
;
name:skeleton
sym:s
fg:22
bg:31
spd:25
vis:8
mhp:20
def:0
pow:4
xp:35
ai:1
mlvl:1
wt:10
;
name:giant rat
sym:r
fg:20
spd:75
vis:10
mhp:10
def:0
pow:3
xp:15
ai:1
mlvl:1
wt:5
;
name:gelatinous ooze
sym:j
fg:29
spd:75
vis:8
mhp:15
def:3
pow:3
xp:30
ai:1
mlvl:1
wt:5
;
name:shambling corpse
sym:Z
fg:2
bg:31
spd:25
vis:8
mhp:30
def:2
pow:8
xp:100
ai:1
mlvl:3
wt:5
;
name:confused carcass
sym:c
fg:14
bg:31
spd:25
vis:4
mhp:20
def:2
pow:6
xp:75
ai:1
mlvl:2
wt:5
